extends layout

block content
	#tweets
	aside#library
		img#nightsky(src='images/nightsky.png')
		img#big-glow(src='images/big-glow.png')
		img#small-glow(src='images/small-glow.png')
	script(src='js/requestanimframe.js')
	script(src='js/main.js')
		
